# C
*.o
*.lib
*.a
*.so.*
*.so
*.dylib
*.out

.DS_Store
._.DS_Store
._*

.svn
.svn/
*/.svn/

# Netbeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/

*/build/
*/dist/
*/nbbuild/
*/nbproject/private/
*/nbdist/

nbactions.xml
nb-configuration.xml


